.canchaBasquet{
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #DC9804;
}
.areaDeCanchaBasquet{
  position: absolute;
  width: 700px;
  height: 400px;
  margin-top: 50px;
  margin-left: 50px;
  border:5px solid #fff;
}

.lineaCentro{
  display: inline-block;
  position: absolute;
  margin-left: 50%;
  height: 400px;
  border: 3px solid #fff;
}
.circuloCentroBasquet{
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 42.5%;
  margin-top: 150px;
  border:5px solid #fff;
}
.areaTresPuntosIzquierda {
  display: inline-block;
  position: absolute;
  float: left;
  width: 180px;
  height: 300px;
  border: 5px solid #fff;
  margin-left: 0;
  margin-top: 6%;
  border-radius: 0 200px 200px 0;
  border-left: none;
}

.areaTresPuntosDerecha {
  display: inline-block;
  position: absolute;
  float: left;
  width: 180px;
  height: 300px;
  border: 5px solid #fff;
  margin-left: 520px;
  margin-top: 6%;
  border-radius: 200px 0 0 200px;
  border-right: none;
}
