
.canchaFutbol{
  width: 700px;
  height: 400px;
  background-color: green;
}


.canchaBasquet{
  width: 700px;
  height: 400px;
  background-color: brown;
}

.canchaTenis{
  width: 700px;
  height: 400px;
  background-color: green;
}
